* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container {
    width: 100%;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
/* Header
=======================================================*/
header {
    padding-top: 107px;
}

h1 {
    font-weight: 400;
    font-size: 36px;
    font-family: 'Raleway', sans-serif;
    color: #212121;
}

hr {
    width: 64px;
    height: 2px;
    margin: 30px auto;
    border: none;
    background: #FF8030;
}

h4 {
    font-weight: 400;
    font-size: 14px;
    color: #86878B;
}
/* Main content
=======================================================*/
.reasons {
    padding: 80px 0 0 0;
    font-size: 0;
}

.block {
    display: inline-block;
    width: 350px;
    margin: 0 16px 102px;
}

.icon {
    width: 70px;
    height: 70px;
    margin: 0 auto;
    border-radius: 35px;
    border: 2px solid #FF8030;
}

.icon-lamp {
    background: url(../img/lamp.png) no-repeat center center;
}

.icon-keyboard {
    background: url(../img/keyboard.png) no-repeat center center;
}

.icon-lightning {
    background: url(../img/lightning.png) no-repeat center center;
}

h2 {
    margin: 29px 0;
    font-weight: 700;
    font-size: 20px;
    color: #333333;
}

p {
    font-weight: 400;
    font-size: 14px;
    color: #86878B;
}

.bottom-section {
    background: url(../img/background.jpeg) no-repeat center / cover;
}

.fogging {
    background-color: rgba(0,0,0,0.6);
}

.bottom-title {
    padding-top: 76px;
    font-weight: 400;
    font-size: 36px;
    color: #FFFFFF;
}

.bottom-line {
    background: #ffffff;
}

.bottom-text {
    font-weight: 300;
    font-size: 16px;
    font-family: 'Raleway', sans-serif; 
    color: #FFFFFF;
    opacity: 0.8;
}

button {
    margin: 33px auto 63px;
    padding: 15px 33px 14px 31px;

    font-size: 15px;
    font-weight: 600;
    color: #FFFFFF;

    background: transparent;
    border-color: #FFFFFF;
}
/*Footer
=======================================================*/
footer {
    width: 100%;
    padding-top: 0;
    background: #000000;
}

nav {
    margin: 0 auto;
    padding-top: 39px;
}

.icon-link {
    display: inline-block;
    margin: 0 10px;
} 

.footer-text {
    padding: 15px;
    font-weight: 400;
    font-size: 12px;
}
